{{- range $applicationName, $application := .Values.apps -}}
{{- if $application.jinja2.templates }}
{{- range $templateName, $template := $application.jinja2.templates -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $application.labels.component }}-{{ $application.labels.partOf }}-{{ $applicationName }}-{{ $templateName }}-jinja2-configmap
  labels:
    app.kubernetes.io/name: {{ $applicationName }}
    app.kubernetes.io/version: {{ $application.image.tag }}
    app.kubernetes.io/component: {{ $application.labels.component }}
    app.kubernetes.io/part-of: {{ $application.labels.partOf }}
    app.kubernetes.io/environment: {{ $.Release.Namespace }}
data:
  {{ $template.file }}: |-
    {{- $.Files.Get $template.template | nindent 6 }}
{{ end }}
{{ end }}
{{ end }}