{{- define "subdomainPrefix" -}}
{{- if .Values.VAR_SUBDOMAIN -}}
{{ printf "%s." .Values.VAR_SUBDOMAIN }}
{{- end -}}
{{- end -}}
{{- range $applicationName, $application := .Values.apps -}}
{{- if or $application.ingress.enabled }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $application.labels.component }}-{{ $application.labels.partOf }}-{{ $applicationName }}
  labels:
    app.kubernetes.io/name: {{ $applicationName }}
    app.kubernetes.io/version: {{ $application.image.tag }}
    app.kubernetes.io/component: {{ $application.labels.component }}
    app.kubernetes.io/part-of: {{ $application.labels.partOf }}
    app.kubernetes.io/environment: {{ $.Release.Namespace }}
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
  hostnames:
    - {{ include "subdomainPrefix" $ }}{{ $application.labels.component }}.{{ $.Values.VAR_PUBLIC_DOMAIN }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /{{ $application.labels.partOf }}/{{ $applicationName }}
      backendRefs:
        - name: {{ $application.labels.component }}-{{ $application.labels.partOf }}-{{ $applicationName }}
          port: 80
      filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: {{ $application.labels.component }}-{{ $application.labels.partOf }}-{{ $applicationName }}-stripprefix
{{- end -}}
{{- end -}}