{{- range $applicationName, $application := .Values.apps | default dict -}}
{{- include "iot-applications.validators.service" (dict "service" $application.service "applicationName" $applicationName) }}
{{- if $application.service.enabled }}
{{- $ctx := dict "application" $application "name" $applicationName "release" $.Release "chart" $.Chart -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "iot-applications.identifier" $ctx }}
  labels: {{ include "iot-applications.meta.labels" $ctx | nindent 4 }}
spec:
  type: ClusterIP
  selector: {{ include "iot-applications.labels.selector" $ctx | nindent 4 }}
  ports:
    - name: {{ include "iot-applications.identifier" $ctx }}
      protocol: TCP
      port: 80
      targetPort: {{ include "iot-applications.defaults.port" $application.service.targetPort }}
{{ end }}
{{ end }}